/* Webfont: Helvetica Neue */
@font-face {
  font-family: "HelNeue";
  src: url("./Helvetica Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelNeue", Calibri;
  margin: 25px;
}

.calculator {
  background: black;
  color: white;
  border-radius: 50px;
  height: 868px;
  padding: 20px;
  width: 463px;
  margin: 25px;
  position: relative;
}

.top-container {
  display: flex;
  justify-content: space-between;
  height: 180px;
  padding: 0 20px;
}

.value {
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 20px;
  height: 98px;
  margin-right: 20px;
  text-align: right;
}

.bottom {
  width: 200px;
  height: 5px;
  background: white;
  bottom: 10px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.buttons-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #333;
  font-size: 45px;
  height: 90px;
  width: 90px;
  transition: filter 0.1s;
}

.button:active,
.button:focus {
  filter: brightness(120%);
}

.button.function {
  color: black;
  background: #a5a5a5;
}

.button.operator {
  background: #f1a33c;
}

.button.number-0 {
  width: 195px;
  border-radius: 55px;
  justify-content: flex-start;
  padding-left: 43px;
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1 / 3;
}
