* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 30px;
  font-family: Arial;
}
body {
  background-color: #000000;
}
.calc {
  width: 400px;
  margin: 100px auto;
}
.display {
  color: #ffffff;
  text-align: right;
  font-size: 60px;
  padding: 20px;
}
.keypad {
}
.keypad-table {
}
.keypad-table tr:first-child .key {
  background-color: #a5a5a5;
}
.keypad-table tr:first-child .key:active {
  background-color: #f3f0f0;
}
.keypad-table tr td:last-child .key {
  background-color: #ffa45c;
}
.keypad-table tr td:last-child .key:active {
  background-color: #fac9a1cc;
}
.key {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  text-align: center;
  line-height: 90px;
  border-radius: 90px;
  margin: 5px;
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}
.key:active {
  background-color: #b4b1b190;
}
